table, th, td {
    border: 2px solid;
    color: black;
    padding: 0px 10px 10px 0px;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
}
.show-table {
    /* box-sizing: border-box; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 50%;
    margin: 0 auto;


}
.row-labels th {
    border-color: black;
    text-align: center;
    background-color: #0a67be;
    color: white;

}
.form-group button[type="submit"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
  }